<h1>Demo#hello</h1>
<p>Hello from hello</p>

<%= 1+1 %>
<br />
<% target = "world" %>
<%= "Hello #{target}" %>

<% @array.each do |n| %>
<br /><%= n %>
<% end %><br />
<a href="/demo/index">Index Page 1</a><br />
<%= link_to("Index Page 2", {:action => 'index'}) %>

<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Next Page: <%= @page + 1 %><br />

<hr />

<%= params.inspect %>
